body {
    background-image: url('../images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.calculator {
    width: 328px;
    height: 583px;
    background: linear-gradient(180deg, #FEFEFE 0%, #E9ECEE 37.34%);
    border: 0.911111px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 11.8444px 11.8444px 9.11111px #E6E5E5;
    border-radius: 18px;
    padding: 18px;
    margin: 32px auto;
}

.calculator-display {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 47px;
    width: 100%;
    height: 80px;
    background: #A5A5A5;
    border: 10px solid black;
    box-shadow: 3.64444px 3.64444px 3.64444px #D5D8DC, -3.64444px -3.64444px 3.64444px #FFFEFE;
    border-radius: 9.1px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    /*line-height: 30px;*/
    text-align: right;
    letter-spacing: 0.15em;
    color: #3F474E;
    padding: 12px 5px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15.5px;
    margin: 40px auto 0px auto;
}

button {
    width: 62px;
    height: 62px;
    border-radius: 27.3px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: #F5F5F7;
    border: none;
    box-shadow: 3.64444px 3.64444px 4.55556px #DEE0E3, -3.64444px -3.64444px 4.55556px #FFFFFF;

    font-weight: 500;
    font-size: 22.7px;
    line-height: 27px;
}

button:active {
    background: #CDD5DB;
    box-shadow: 4px 4px 5px #DEE0E3, -4px -4px 5px #FFFFFF;
}

.key-operation {
    color: #111C81;
    background: #D5D6E9;
}

.key-operation:active {
    background: #7F87D4;
    box-shadow: 4px 4px 5px #D6C9DF, -4px -4px 5px #FFFFFF;
}


.key-clear {
    background: #FE9505;
    color: white;
}

.key-clear:active {
    background: #DD922B;
    box-shadow: 4px 4px 4px #DEBF81, -4px -4px 4px #FFFFFF;
}

.key-equal {
    color: white;
    background: #2D41F5;
}

.key-del {
    background: #E7E9EC;
    background-image: url('../images/del.png');
    background-position: center;
    background-repeat: no-repeat;
}

.key-plus-minus, .key-percentage {
    background: #F5F0E3;
}